@import "../../global.scss";

.roadmap {
  background-color: #e1e7e9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50vw;

  @include mobile {
    height: 2000px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  h1 {
    padding-bottom: 40px;
    font-size: 50px;
    height: -webkit-fill-available;

    @include mobile {
      padding-bottom: 10px;
      font-size: 20px;
    }
  }
  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
    background-color: #ed143dcf;
    border-radius: 50%;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 800px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      flex-direction: column;
      flex-wrap: wrap;
      height: auto;
      justify-content: space-around;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        height: 250px;
      }

      .item {
        width: 1000px;
        border-style: solid;
        background-repeat: no-repeat;
        background-size: 1000px;
        background-position: center;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include mobile {
        //   width: 80%;
          height: auto;
          margin: 0;
          background-position: 50%;
        }

        h4 {
          color: darkslategrey;
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 10px;
          text-shadow: 1px 1px 1px #59c3c3a1;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
              width: 100%;
              height: 100%;
            }

            .imgContainer {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              // background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile {
                width: 20px;
                height: 20px;
              }

              img {
                width: 100px;
                border-style: solid;
                border-width: 1px 0px 1px 0px;

                @include mobile {
                  width: 10px;
                  height: 10px;
                }
              }
            }

            h2 {
              font-size: 20px;
              @include mobile {
                font-size: 13px;
              }
            }

            p {
              font-size: 13px;
              @include mobile {
                display: none;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          overflow: hidden;
          // img {
          //     width: 400px;
          // }
        }
      }
    }
  }
}
