@import "../../global.scss";

.nft {
  background-image: url(../../../public/assets/nft.svg);
  height: 1000px;

  @include mobile {
    height: 500px;
  }

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;

    .item {
      width: 1000px;
      position: relative;
      margin: 0;
      padding: 0;
      overflow: inherit;
      top: 150px;

      img {
        width: 100%;
      }

      @include mobile {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }
  }
  .nftloading {
    width: 359px;
    padding: 20px;
    img {
      width: 100%;
    }
  }
}
