.item{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;


    img {
        height: 100%;
        // width: 100%;
        object-fit: cover;
        z-index: 1;
    }

}