.showCase {
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    .kpbQki {
        white-space: nowrap;
        box-sizing: content-box;
        margin: 2rem 0px;
        display: flex;
        animation: 0s linear 0s infinite normal none running KgHCs;
    }

    .dQUbgY {
        white-space: nowrap;
        box-sizing: content-box;
        margin: 2rem 0px;
        display: flex;
        animation: 0s linear 0s infinite reverse none running KgHCs;
    }
    @keyframes KgHCs {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(-100%);        
        }
    }

    .iQoEbp {
        width: 15rem;
        margin: 0px 1rem;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        cursor: pointer;
        img {
            width: inherit;
            height: auto;
        }
    }
}
.showCase > :first-child, .showCase > :nth-last-child(2) {
    animation-duration: 20s;
}
.showCase > :last-child, .showCase > :nth-last-child(3) {
    animation-duration: 20s;
}