.app {
    height:100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;//for firefox
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }


    

        .ocean { 
            height: auto;
            width:100%;
            // position:absolute;
            bottom:0;
            left:0;
            // background: lightsalmon;
        }

        #ocean1 {
            background-color: lightpink;
            > .wave {
                background: url(../src/Data/waves/wave.svg) repeat-x; 
            }
        }
        #ocean2 {
            background-color: #9CEB87;
            > .wave {
                background: url(../src/Data/waves/wave2.svg) repeat-x;
            }
        }
        #ocean3 {
            background-color: white;
            > .wave {
                background: url(../src/Data/waves/wave3.svg) repeat-x;
            }
        }
        #ocean4 {
            background-color: #AD84C9;
            > .wave {
                background: url(../src/Data/waves/wave4.svg) repeat-x;
            }
        }
        #ocean5 {
            background-color: crimson;
            > .wave {
                background: url(../src/Data/waves/wave5.svg) repeat-x;
            }
        }
        .wave {
            // position: absolute;
            top: -198px;
            width: 6400px;
            height: 90px;
            animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
            transform: translate3d(0, 0, 0);
        }
        
        .wave:nth-of-type(2) {
            top: -175px;
            animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
            opacity: 1;
        }
        
        @keyframes wave {
            0% {
            margin-left: 0;
            }
            100% {
            margin-left: -1600px;
            }
        }
        
        @keyframes swell {
            0%, 100% {
            transform: translate3d(0,-25px,0);
            }
            50% {
            transform: translate3d(0,5px,0);
            }
        }

    

    }
}